.App {
  height: 95vh;
  width: 95vw;
  overflow: auto;
}
body {
  background-color: #6495ED;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
/* width */
::-webkit-scrollbar {
  width: 20px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #0ff;
  border-radius: 10px;
}

/*Home Page */
.main-nav {
  text-align: right;
  width: 100%;
  height: 100%;
  background-image: url('../../../public/painting-background.webp');
  background-size: cover;
}
.main-nav .content {
  display: block;
  font-family: 'Signika', sans-serif;
  font-size: 10vh;
  color: white;
}

/* About component styles */
.profile-pic {
  max-width: 200px;
  max-height: 200px;
  flex-grow: 1;
  flex-shrink: 1;
  border-radius: 50%;
  border: solid 2px #6495ED;
  box-shadow: 5px 5px 40px 5px #0ff;
}
.about-content {
  font-family: 'Signika', sans-serif;
  font-weight: normal;
  font-size: 2.2vh;
  line-height: 1.5;
  flex-basis: 1000px;
  flex-shrink: 3;
}
.about-container {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 5%;
  height: 100%;
}

/* secondary-nav section*/
.footer {
  width: 100%;
  color: white;
  display: flex;
  flex-wrap:warp;
  justify-content: space-between;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  margin: 1vh 0 3vh 0;
}
.nav-text {
  font-family: 'Signika', sans-serif;
  font-size: 2.7vh;
  margin: .7vh 0;
}
.contact-container {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}
.contact-container a {
  font-size: 2.2vh;
}
.number {
  margin: 0 .5vw 0 2vw;
  font-weight: 700;
  font-size: 1.9vh;
  font-family: 'Signika', sans-serif;
}

/* Resume component styles */
.resume-container {
  font-family: 'Signika', sans-serif;
  font-size: 2.5vh;
  height: 100%;
}
.block {
  margin: 2vw 0;
}
.skills .block {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.bullets {
  margin: 0;
}
.employment-info {
  margin-bottom: 10px;
  font-size: 2.8vh;
}


/* typography & reusable elements */
h1{
  margin: 0;
  padding: 0;
  font-family: 'Righteous', cursive;
  font-size: 5.3vh;
  line-height: 4.3vh;
}
h2 {
  margin: 0;
  padding: 0;
  font-family: 'Righteous', cursive;
  font-size: 4.2vh;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: #6495ED;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
button {
  margin: 0;
  padding: 0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.5vh;
  font-family: 'Signika', sans-serif;
  background-color: #6495ED;
  padding: 10px 20px;
  margin: 20px;
  border-radius: 25px;
  border: solid 2px black;
}
button:hover {
  background-color: #0ff;
  color: black;
}
button:hover a{
  color: black;
}
h3 {
  margin: 1.5vh 0;
  padding: 0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3vh;
}
h4 {
  margin: 0 6vw 2vw 0;
  padding: 0;
  font-weight: bold;
  font-size: 3vh;
}
.underline {
  text-decoration: underline;
}
p{
  margin: 2.5vh 0;
  font-family: 'Signika', sans-serif;
  font-size: 2.5vh;
}
li {
  font-family: 'Signika', sans-serif;
  font-size: 2.5vh;
}
a {
  color: #0ff;
  font-family: 'Signika', sans-serif;
  font-size: 2.5vh;
}
/* projects */
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.projects .container {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: solid 2px #6495ED;
  box-shadow: 5px 5px 40px 5px #0ff;
  padding: 20px;
  border-radius: 5%;
  margin: 2vh;
}
img {
  width: 100%;
  object-fit: cover;
}
.single-img {
  max-width: 900px;
  margin: 20px auto;
}
.three-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.three-img iframe {
  margin: 2vh;
}
.technologies {
  display: flex;
  flex-wrap: wrap;
}
.technologies p {
  margin-right: 20px;
}
.button-grouping {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}