@layer base {
  :root {
    --base-font: 'Poppins', sans-serif;
    --base-size: 1rem;
    --scale: 1.333;
    --h1: calc(var(--h2) * var(--scale));
    --h2: calc(var(--h3) * var(--scale));
    --h3: calc(var(--h4) * var(--scale));
    --h4: calc(var(--h5) * var(--scale));
    --h5: calc(var(--h6) * var(--scale));
    --h6: var(--base-size);
    --h7: calc(var(--base-size) / var(--scale));

    /* colors */
    --blue: #6495ED;
    --cyan: #0ff;
    --white: #ffffff;
    --black: #050d14;
    --cyan-light: rgba(0, 255, 255, 0.461);
  }
  .App {
    height: 95vh;
    width: 95vw;
    overflow: auto;
  }
  body {
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    font-family: var(--base-font);
    font-size: var(--base-size);
    margin: 0 1rem;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 20px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--cyan);
    border-radius: 10px;
  }
}

/*Home Page */
.main-nav {
  text-align: right;
  width: 100%;
  height: 100%;
  background-image: url('../../../public/painting-background.webp');
  background-size: cover;
}
.main-nav .content {
  display: block;
  font-size: var(--h1);
  color: var(--white);
}

/* About component styles */
.profile-pic {
  max-width: 200px;
  max-height: 200px;
  flex-grow: 1;
  flex-shrink: 1;
  border-radius: 50%;
  border: solid 2px var(--blue);
  box-shadow: 5px 5px 40px 5px var(--cyan);
}
.about-content {
  font-weight: normal;
  line-height: 1.5;
  flex-basis: 1000px;
  flex-shrink: 3;
  font-size: var(--h6);
}
.about-container {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 5%;
  height: 100%;
}

/* secondary-nav section*/
.footer {
  width: 100%;
  color: white;
  display: flex;
  flex-wrap:warp;
  justify-content: space-between;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  margin: 1rem 0 1rem 0;
}
.nav-text {
  font-weight: 600;
  margin: .3rem 0;
}
.contact-container {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}
.contact-container a {
  font-size: var(--h7);
}
.number {
  margin: 0 .4rem 0 2rem;
  font-weight: 800;
  font-size: var(--h7);
}

/* Resume component styles */

.block {
  margin: 1rem 0;
}
.skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem 0;
  column-gap: 1rem;
}
.skills h2 {
  grid-area: 1 / 1 / 2 / 3;
}
.skills .block {
  background-color: var(--cyan-light);
  padding: 1rem;
}
.skills .block li {
  list-style: none;
}
.bullets {
  margin: 0;
}
.employment-info {
  margin-bottom: .5rem;
  font-style: italic;
}


/* typography & reusable elements */
h1{
  margin: 0;
  padding: 0;
  font-family: 'Righteous', cursive;
  font-size: var(--h3);
  line-height: .85;
}
h2 {
  margin: 0;
  padding: 0;
  font-family: 'Righteous', cursive;
  font-size: var(--h4);
  letter-spacing: .2rem;
  text-transform: uppercase;
  color: var(--blue);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
button {
  margin: 0;
  padding: 0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: var(--h6);
  background-color: var(--blue);
  padding: 10px 20px;
  margin: 20px;
  border-radius: 25px;
  border: solid 2px var(--black);
}
button:hover {
  background-color: var(--cyan);
  color: var(--black);
}
button:hover a{
  color: var(--black);
}
h3 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  text-transform: uppercase;
}
h4 {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: var(--h5);
}
.underline {
  text-decoration: underline;
}
p{
  margin: 1rem 0;
}
a {
  color: var(--cyan);
}
/* projects */
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.projects .container {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: solid 2px var(--blue);
  box-shadow: 5px 5px 40px 5px var(--cyan);
  padding: 20px;
  border-radius: 20px;
  margin: 2rem;
}
img {
  width: 100%;
  object-fit: cover;
}
.single-img {
  max-width: 900px;
  margin: 20px auto;
}
.three-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.three-img iframe {
  margin: 2rem;
}
.technologies {
  display: flex;
  flex-wrap: wrap;
}
.technologies p {
  margin-right: 20px;
}
.button-grouping {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}