.App {
  display: flex;
  height: 95vh;
  width: 95vw;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

body {
  background-color: #6495ED;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0ff;
  border-radius: 10px;
}

/* page structure */
.content-container {
  text-align: right;
  font-family: 'Signika', sans-serif;
  font-size: 200px;
  width: 100%;
}

.footer {
  width: 100%;
  color: white;
}

/* footer section*/
.logo {
  font-family: 'Righteous', cursive;
  font-size: 110px;
  text-align: left;
  line-height: 90px;
}

.logo:hover {
  color: #6495ED;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
}

.title-contact-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-family: 'Signika', sans-serif;
  font-size: 30px;
  /* margin-top: 20px; */
}

.contact-container {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.number {
  margin-right: 15px;
  font-weight: 700;
}

.content {
  display: block;
}

/* About component styles */
.profile-pic {
  max-width: 350px;
  max-height: 350px;
  flex-grow: 1;
  flex-shrink: 1;
  border-radius: 50%;
  border: solid 2px #6495ED;
  box-shadow: 5px 5px 40px 5px #0ff;
}

.about-content {
  font-family: 'Signika', sans-serif;
  font-weight: normal;
  font-size: 35px;
  flex-basis: 1000px;
  flex-shrink: 3;
}

.about-container {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 5%;
  height: 100%;
}


/* Resume component styles */
.resume-container {
  font-family: 'Signika', sans-serif;
  font-size: 26px;
  height: 100%;
}

.block {
  margin: 45px 0;
}

.skills .block {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.bullets {
  margin: 0;
}

.employment-info {
  margin-bottom: 10px;
  font-size: 30px;
}


/* typography & reusable elements */
h2 {
  margin: 0;
  padding: 0;
  font-family: 'Righteous', cursive;
  font-size: 60px;
  letter-spacing: .06em;
  text-transform: uppercase;
  color: #6495ED;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
button {
  margin: 0;
  padding: 0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
  font-family: 'Signika', sans-serif;
  background-color: #6495ED;
  padding: 10px 20px;
  margin: 20px;
  border-radius: 25px;
  border: solid 2px black;
}
button:hover {
  background-color: #0ff;
}

h3 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
}

h4 {
  margin: 0 60px 20px 0;
  padding: 0;
  font-weight: bold;
  font-size: 30px;
}
.underline {
  text-decoration: underline;
}
p{
  margin: 20px 0;
  font-family: 'Signika', sans-serif;
  font-size: 26px;
}

/* projects */
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.projects .container {
  border: solid 3px black;  
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: solid 2px #6495ED;
  box-shadow: 5px 5px 40px 5px #0ff;
  padding: 20px;
  border-radius: 5%;
  margin: 50px;
}
img {
  width: 100%;
  object-fit: cover;
}
.single-img {
  max-width: 900px;
  margin: 20px auto;
}
.three-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.three-img iframe {
  margin: 60px 20px;
}
.technologies {
  display: flex;
  flex-wrap: wrap;
}
.technologies p {
  margin-right: 20px;
}
.button-grouping {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}