.App {
  display: flex;
  height: 95vh;
  width: 95vw;
  flex-direction:column;
  justify-content: space-between;
}
body {
  background-color: #6495ED;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

/* page structure */
.content-container {
  text-align: right;
  font-family: 'Signika', sans-serif;
  font-size: 200px;
  width: 100%;
}
.footer {
  width: 100%;
  color: white;
}

/* footer section*/
.logo {
  font-family: 'Righteous', cursive;
  font-size: 110px;
  text-align: left;
  line-height: 90px;
}
.logo:hover {
  color: #6495ED;
  -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
}
.title-contact-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-family: 'Signika', sans-serif;
  font-size:30px;
  margin-top: 20px;
}
.contact-container {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.number {
  margin-right: 15px;
  font-weight: 700;
}
.content {
  display: block;
}

/* About component styles */
.profile-pic {
  max-width: 350px;
  max-height: 350px;
  flex-grow: 1;
  flex-shrink: 1;
  border-radius: 50%;
  border: solid 2px #6495ED;
  box-shadow: 5px 5px 40px 5px #0ff;
}
.about-content {
  font-family: 'Signika', sans-serif;
  font-weight: normal;
  font-size:35px;
  flex-basis: 1000px;
  flex-shrink: 3;
}
.about-container {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 5%;
  height: 100%;
}